<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="IDstorecnnMySql" connectionString="server=localhost;user id=root;password=12345;database=id_store_db"
      providerName="MySql.Data.MySqlClient" />
    <add name="IDstorecnnOracle" connectionString="Data Source=localhost;Persist Security Info=True;User ID=idstore;Password=12345;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="IDstore.Properties.Settings.id_store_dbConnectionString"
      connectionString="server=localhost;user id=root;password=12345;database=id_store_db;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="IDstore.Properties.Settings.ConnectionString" connectionString="Data Source=localhost;Persist Security Info=True;User ID=idstore;Password=12345;Unicode=True"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
</configuration>